@media only screen and (min-width: 600px) {
    main {
        grid-template-columns: 60% 40%;
        max-width:620px;
        margin: auto;
        display:grid;
    }
  }


body {
    margin-top: 2em;
}


.date{
    font-size: small;
    color:lightgrey;
}