:root{--link-color: rgb(72, 191, 255);}

html{
    background-color: rgb(39, 40, 48);
    color:rgb(235, 235, 235);
    font-size: larger;
    font-family: "Podkova", arial;
}

a{
    color:var(--link-color);
    text-decoration: none;
}
a:link {color:var(--link-color);}
a:visited{color:var(--link-color);}
a:hover{color:var(--link-color);}
a:active{color:var(--link-color);}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(39, 40, 48);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

