body{
    margin:0;
}

#toc-container{
    margin-left: auto;
    margin-right: auto;
    padding-left:5px;
}

.container{
    --max-container-width: 1220px;
    max-width:var(--max-container-width);
}

#nav-toc{
    position:sticky;
    top:2em;
}

#toc ul {
    list-style: "";
    padding-left:15px;
}
#toc > ul{
    padding-left: 0px;
}
#toc li{
    margin-bottom:10px;
}


.H1 {
    font-size: larger;
}
.H2 {
    font-size:large;
}
.H3 {
    font-size: small;
}

main {
    grid-template-columns: 30% 70% ;
    display: grid;
    gap: 10px;
}

@media only screen and (min-width: calc(var(--max-container-width)*0.3 + var(--max-container-width)*0.7*0.5 + 10px)) {
    main {
        background-color: #50fa7b;
        grid-template-columns: 30% 70% ;
        /*margin: auto;*/
        display: grid;
        gap: 10px;
        margin-left: calc(50% - var(--max-container-width)*0.3 - var(--max-container-width)*0.7*0.5 - 10px);
    }
}


#article-container{
    margin-top: 2em;
}

header > *{
    margin-top:0;
    margin-bottom:0;
}
header > small {
    font-size: small;
    color:rgb(136, 136, 136);
}

pre {
    background: rgb(26, 26, 26);
    padding:1em;
    width: fit-content;
   
}


/*SYNTAX HIGHLIGHTING*/
.hljs{display:block;overflow-x:auto;padding:.5em;background:#282a36;}.hljs-built_in,.hljs-selector-tag,.hljs-section,.hljs-link{color:#8be9fd;}.hljs-keyword{color:#ff79c6;}.hljs,.hljs-subst{color:#f8f8f2;}.hljs-title{color:#50fa7b;}.hljs-string,.hljs-meta,.hljs-name,.hljs-type,.hljs-attr,.hljs-symbol,.hljs-bullet,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#f1fa8c;}.hljs-comment,.hljs-quote,.hljs-deletion{color:#6272a4;}.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-title,.hljs-section,.hljs-doctag,.hljs-type,.hljs-name,.hljs-strong{font-weight:bold;}.hljs-literal,.hljs-number{color:#bd93f9;}.hljs-emphasis{font-style: italic;}